@import './null';
@import './vars';
@import './fonts';

html, body {
    height: 100%;
}

.container {
    padding: 0 19.5%;

    @media (max-width: 1366px) {
        padding: 0 12%;
    }

    @media (max-width: 1024px) {
        padding: 0 5%;
    }

    @media (max-width: 480px) {
        padding: 0 2%;
    }
}

.link-red {
    color: #000000;

    transition: $transitionTimeDefault;
    
    &:hover,
    &:active,
    &._active {
        color: #FF0000;
    }
}